version: 2
jobs:
 build:
   machine: true
   steps:
     - checkout
     - run: docker build -t mnaveensmn/docker-react -f Dockerfile.dev .
     - run: docker run -e CI=true mnaveensmn/docker-react npm run test